<div class="dialog-add" style="height:460px;">
  <div class="title-form">
    <h3>THÊM NGHỆ SĨ</h3>
  </div>
  <form>
      <div class="add-image">
          <div class="form-input">
              <input type="text" placeholder="Tên nghệ sĩ" class="form-text">   
          </div>
          <div class="image-form">
              <img id="image-artist" src="/images/no-image.png"/>  
          </div>
          <input type='file'/>
      </div>
      <div class="add-info">
            <div class="form-input">
                <input type="text" placeholder="Ngày Sinh" class="form-text" style="max-width:48%;float:left; margin-right: 15px;">   
            </div>
            <div class="form-input">
                <input type="text" placeholder="Quốc Gia" class="form-text" style="max-width:49%;float:left;">   
            </div>
            <div>
                <textarea placeholder="Tiểu sử ..."></textarea>
            </div>
            
            <input type="button" value="Create">
      </div>
  </form>
</div>