<div class="dialog-add">
  <div class="title-form">
    <h3>THÊM CHỦ ĐỀ</h3>
  </div>
  <form>
      <div class="add-image">
          <div class="form-input">
              <input type="text" placeholder="Tên chủ đề" class="form-text">   
          </div>
          <div class="image-form">
              <img src="/images/no-image.png"/>
          </div>
          <input type="file" />
      </div>
      <div class="add-info">
      
          
          <div>
              <textarea placeholder="Miêu tả ..."></textarea>
          </div>
          
          <input type="button" value="Create">
      </div>
  </form>
</div>